$clr-snowman: #fbfbfb;
$clr-whitey: #f7f7f7;
$clr-karl: #edeced;

$clr-clooney: #c1bec1;
$clr-gandalf: #979197;
$clr-teflon: #554d56;
$clr-void: #2b2b2b;
$clr-darkness: #141414;

$clr-yellow: #fecf33;
$clr-light-orange: #fdbd39;
$clr-orange: #f69833;
$clr-peach: #ee6723;

$clr-green: #c8cf2d;
$clr-turquoise: #0dcfda;
$clr-cornflower-blue: #419bf9;
