@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: "Merchant";
  src: url("/fonts/merchant-copy.ttf") format("truetype");
  size-adjust: 115%;
}
h1 {
  margin: 0;
  font-size: 3rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1.1rem;
}
h5 {
  margin: 0;
  font-size: 0.75rem;
}
p {
  margin: 0;
  font-size: 1rem;
}
a {
  margin: 0;
}
