// Paddings
$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 2rem;

// Margins
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 2rem;

//Radii
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

//Fonts
$fnt-ubuntu: "Ubuntu", sans-serif;
$fnt-merchant: "Merchant", sans-serif;
